@media screen and (max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;

        overflow: hidden;
    }

    .App {

        /* background: url('assets/Blue Wallpaper.png'); */
        /* width: '100vw';
        height: '100vh';
        margin: '0';
        background-size: '15rem';
        image-rendering: 'pixelated'; */

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .pixel {
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    .window {
        width: 29rem;
        aspect-ratio: 58 / 65;
    }

    .scrollableForecast {
        margin-top: 2rem;
        width: 25rem;
        aspect-ratio: 48 / 22;
        position: relative;
    }

    .blocks {
        height: 9rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 1.3rem;
        left: 0.95rem;
        gap: 0.4rem;
    }






}

