@media screen and (max-width: 768px) {
    /* html, body {
        overflow: hidden;
    } */

    /* body {

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    } */

    /* 

    .blocks {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 21.5rem;
        left: 4rem;
    }

    .forecastBlock {
        width: 7.7314rem;
        height: 12.2263rem;
        background: url("assets/Blue Theme Selected Bar.png") 50% / cover no-repeat;
        /* position: absolute;
        top: 25rem;
        left: 0.0446rem; 

    } */

    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .pixel {
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    .window {
        width: 29rem;
        aspect-ratio: 58 / 65;
    }

    .scrollableForecast {
        margin-top: 2rem;
        width: 25rem;
        aspect-ratio: 48 / 22;
        position: relative;
    }

    .blocks {
        height: 9rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 1.3rem;
        left: 0.95rem;
        gap: 0.4rem;
    }






}

