
#background{
<<<<<<< HEAD
 background: url("./assets/sign-up assets/beige wallpaper.png") lightgray 50% / cover no-repeat;
=======
 background: url('assets/sign-up assets/beige wallpaper.png') lightgray 50% / cover no-repeat;
>>>>>>> 5c858d2f0536b0664c43918d6e0b3326b560cc09
} 

.animalButton{
    background-image: "./assets/sign-up assets/button background.png" lightgray -114.895px -59.653px / 213.111% 261.514% no-repeat;
;


}

.animalButtonImg{
    
}