
.SignBackground{
    background-image: url('./assets/sign-up assets/beige wallpaper.png');
    background-size : "cover";
    background-repeat: 'no-repeat';
    padding: None;
    image-rendering: pixelated;
    width: 100vw;
    height: 300rem;
    margin: 0;
} 

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.ButtonContainer{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.headingContainer{
    position: relative;
    text-align: center;
}

.headingText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 3rem;
    color: #85696F;
    
}

.petButton{
    background-image: url('./assets/sign-up assets/button background-2.png') 100% / cover no-repeat;
    border: none;
    width: 10rem;
}
