
.SignBackground{
    background-image: url('./assets/sign-up assets/beige wallpaper.png');
    background-size : "cover";
    background-repeat: 'no-repeat';
    padding: None;
    image-rendering: pixelated;
    width: 100vw;
    height: 300rem;
    margin: 0;
} 

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*-----HEADER CSS---------*/

.headingContainer{
    margin-top: 2rem;
    position: relative;
    text-align: center;
}

.headingText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 3rem;
    color: #85696F;
}

/*-----button CSS---------*/
.ButtonContainer{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}


.petButtonUnselected{
    background: url('./assets/sign-up assets/beigeButton.png') 100% / cover no-repeat;
    size: 100%;
    border: none;
    width: 10rem;
}

.petButtonSelected{
    background: url('./assets/sign-up assets/pinkButton.png') 100% / cover no-repeat;
    size: 100%;
    border: none;
    width: 10rem;
}

/*naming pet*/
.inputName{
    font-size: 2rem;
    color: #D0C2BF;
    font-family: "Jersey 15";
}

input{
    position: relative;
    text-align: center;
    border: none;
    background-color: #FAF9F7;
    font: #D0C2BF;
}

/*colour css*/
.colourBackground{
    background: url('./assets/sign-up assets/colourBackground.png') 100% cover no-repeat;
    padding: None;
    image-rendering: pixelated;
    margin: 0;
    size: 100%


}

.colourContainer{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.colourOption{
    width: 5rem;
    padding: none;
    margin: none;
    background: none;
    background: none;
    border: none;
}

button{
    background: none;
    border: none;
    padding: none;
    margin: none;
}

.colours{
    display: flex;
    flex-direction: column;
    background-color: none;
    padding: none;
    gap: none;
}
